<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accounts</title>
</head>
<body>
  <a href="{% url 'dashboard' %}">Back to Dashboard</a>
  
  <table>
    <thead><h1>List of Accounts</h1></thead>
      <tr>
        <th>Account Number</th>
        <th>Currency</th>
        <th>Balance</th>
      </tr>
      <tr>
        {% for  account in accounts %}
        <td> {{ account.accountNumber }}</td>
        <td> {{ account.currency }} </td>
        <td> {{ account.balance }} </td>
        
      </tr>
      {% endfor %}
  </table>

 

</body>
</html>