<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schools</title>
</head>
<body>
  <a href="{% url 'dashboard' %}">Back to Dashboard</a>
  
  <table>
    <thead><h1>List of Subjects</h1></thead>
      <tr>
        <th>Subject Name</th>
        <th>Score</th>
        <th>Student</th>
      </tr>
      <tr>
        {% for  subject in subjects %}
        <td> {{ subject.name }}</td>
        <td> {{ subject.score }} </td>
        <td> {{ subject.student }} </td>
      </tr>
      {% endfor %}
  </table>

 

</body>
</html>