<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schools</title>
</head>
<body>
  <a href="{% url 'dashboard' %}">Back to Dashboard</a>
  
  <table>
    <thead><h1>List of Schools</h1></thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Address</th>
        <th>No Of Students</th>
      </tr>
      <tr>
        {% for  school in schools %}
        <td> {{ school.name }}</td>
        <td> {{ school.code }} </td>
        <td> {{ school.address }} </td>
         <td> {{ school.no_of_students }} </td>
      </tr>
      {% endfor %}
  </table>

 

</body>
</html>