
{% extends 'base.html' %}

{% block content %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">School Details</h1>
          </div>

            <p> Name:  {{ school.name }} </p>
            <p> Code:  {{ school.code }} </p>
            <p> Address: {{ school.address }} </p>
            <p> No of Students: {{ school.no_of_students }} </p>
            <hr>

          <h1 class="h2">Students at {{ school.name }}</h1>
          <div class="table-responsive">
           <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Reg No</th>
              <th>Address</th>
              <th>Age</th>

            </tr>
          </thead>
          <tbody>
           <tr>
          {% for student in students %}
          <td> <a href="{% url 'students:student_detail' student.id %}">{{ student.id }} </a> </td>
          <td> {{ student.name }} </td>
          <td> {{ student.registration_number }} </td>
          <td> {{ student.address }} </td>
          <td> {{ student.age }} </td>
        </tr>
        {% endfor %} 
		  </tbody>
        </table>
          </div>
        </main>
      </div>
    </div>
    
{% endblock  %}

